*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scrollbar-width: thin;
}

*::-webkit-scrollbar{
    width: 10px;
    background-color: grey;
}

a{
    text-decoration: none !important;
    color: inherit;
}
a:hover{
    color: #908484e0 !important;    
}
